body {
    background-color: rgb(10, 13, 36);
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 50px;
    /* Height of the footer */
}

.hr1 {
    border-color: #8a2be2;
    margin-top: 50px;
}

/*lines*/

.verticle-line {
    border-left: 3px solid white;
    box-shadow: 0 0 20px rgba(8, 184, 228, 0.8);
    width: 3px;
}

.horizontal-line {
    height: 3px;
    background-color: white;
    box-shadow: 0 0 20px rgba(8, 184, 228, 0.8);
}




/* Header */

/* Initial state */
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(245, 248, 245);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

/* Hover state */
header:hover {
    background-image: linear-gradient(rgba(0, 150, 150, 0.7), rgba(14, 6, 37, 0.6)),
    url("images/bg/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 150, 150, 0.4);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left img {
    width: 320px;
    height: auto;
}

.right {
    transform: translateZ(0);

}

.right ul {
    display: flex;
    list-style: none;
}

.right li {
    margin: 0 15px;
}

.nav-button {
    background-color: transparent;
    border: 2px solid transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.nav-button:hover {
    color: #ccc;
    border-color: lightcyan;
    transform: translateY(-3px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: white;
}
/*First Section*/

.firstSection {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 100px;

}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
    color: rgb(245, 248, 245);
    margin: 80px 0;
}

.leftSection>div {
    color: aliceblue;
}

.rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection img {
    width: 80%;
    padding: 20px;
}

.blueviolet {
    color: #8a2be2;
}

.transparent-button {
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.transparent-button:hover {
    color: #8a2be2;
    border-color: #8a2be2;
    transform: scale(1.05);
    /* Scale up the button slightly */
}



/*Second Section*/
.secondSection {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 50px;
}

/*card container*/
.work-experience-container {
    display: flex;
    justify-content: space-between;
}

.card-body {
    width: 50px;
    /* Initial width */
    height: 300px;
    margin: 0 150px;
    padding: 20px;
    padding-top: 50px;
    background-color: rgba(27, 30, 48, 0.7);
    box-shadow: 0 8px 16px rgba(228, 8, 8, 0.4);

    transition: width 0.3s, box-shadow 0.3s;
}

.card-body:hover {
    box-shadow: 0 8px 16px rgba(8, 184, 228, 0.4);
    width: 50px;
}

.card-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
}

.card-subtitle {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    color: #d3d0d0;
    margin-bottom: 1rem;
}

.card-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.normal-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s, border 0.3s;
    margin-left: -15px;
}

.normal-button:hover {
    color: #ccc;
    border: 1px solid lightcyan;
    transform: scale(1);
}


.thirdSection h2,
.secondSection h2 {
    color: grey;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.secondSection h5 {
    color: rgb(212, 212, 226);
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    margin-top: -10px;
}


/*about section*/


.about-section {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.about-section .container {
    background-color: rgb(211, 207, 207);
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.about-section .container:hover {
    box-shadow: 0 8px 30px rgba(8, 184, 228, 0.5);
    transition: 0.3s;
}

.photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s;
}

.photo img:hover {
    box-shadow: 0 8px 30px rgba(228, 8, 8, 0.5);
    transition: 0.3s;
}

.about-section .photo {
    padding-left: 50px;
}

.about-section h2 {
    color: rgb(22, 43, 63);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.about-section p {
    color: rgb(90, 90, 90);
}

.about-section .writings {
    padding-right: 60px;
    padding-left: 30px;
}


/*third section*/

.thirdSection {
    margin: 50px auto;
    width: 80rem;
    height: 50rem;
    text-align: center;

}

h1 {
    color: #e7d6f8;
    font-size: 3rem;
    font-weight: bold;
}

/* Set fixed height for carousel images */
.carousel-item img {
    padding: 30px auto;
    height: 550;
    object-fit: fill;
}

.carousel-caption h5 {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption p {
    color: rgb(228, 225, 225);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}


.fourthSection {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

.fourthSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg/project-bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.fourthSection {
    background-image: linear-gradient(to bottom, rgba(32, 11, 56, 0.4), rgba(2, 1, 10, 0.8));
}


/*project cards*/

.project-cards {
    width: 950px;
    height: 420px;
    padding: 1.5rem;
    background-color: rgba(27, 30, 48, 0.8);
    margin-left: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, width 0.3s, height 0.3s;
}

.project-cards:hover {
    box-shadow: 0 8px 16px rgba(8, 184, 228, 0.4);
    width: 950px;
    height: 420px;
}

.lower-card-section {
    display: flex;
}

.left-card img {
    padding: 30px auto;
    margin-left: 20px;
    height: 290px;
    object-fit: fill;
    transition: transform 0.3s;
}

.left-card img:hover {
    transform: translateX(-60px) translateY(60px) scale(1.8);
    /* Adjust the position and scale */
}

.right-card {
    margin: auto;
}

.right-card ul {
    font-size: 0.9rem;
    color: #ffffff;
    text-align: left;
}

.right-card-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
}

.project-cards h5 {
    color: rgb(211, 208, 208);
}

.tech-icon {
    height: auto;
    width: 30px;
    transition: width 0.3s, transform 0.3s;
}

.tech-icon:hover {
    width: 30px;
    transform: scale(1.2);
}

.message-card {
    width: 250px;
    height: 80px;
    padding: 1rem;
    background-color: rgba(27, 30, 48, 0.7);
    text-align: center;
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.message-card:hover {
    width: 250px;
    height: 80px;
    box-shadow: 0 8px 16px rgba(8, 184, 228, 0.4);
}

/*footer*/


.footer {
    background-color: rgb(211, 207, 207);
    padding: 20px 0;
    margin-bottom: -50px;
    text-align: center;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    flex: 1;
}

.footer-text {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 30px;
    padding: 5px;
}

.query-section {
    flex: 1;
}

.query-heading {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.query-form {
    display: flex;
    flex-direction: column;
}

.query-textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid #6d6b6b;
    background-color: rgb(211, 207, 207);
}

.query-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.query-submit:hover {
    background-color: #0056b3;
}


/*Responsive for phone*/

/*contact-me.html*/

.contact-me-section {
    height: auto;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/bg/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 50px;
    margin-top: -200px;
}


.contact-container {
    background-color: rgba(218, 209, 209, 0.6);
    height: 550px;
    width: auto;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 80px;
}

.contact-me-section a {
    text-decoration: none;
}

.contact-icons {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-icons>div {
    display: flex;
    align-items: center;
    /* Align items vertically center */
    margin-bottom: 10px;
    /* Adjust the margin as needed */
}


.contact-me-section h4 {
    margin: 0;
    color: white;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}



/*services.html*/
.facilities {
    background-image: url('images/fourthbg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*containers*/


.facility-container1 {
    background: linear-gradient(to right, #011103,#022707, #054618, transparent), url('images/Services-container/services1.jpg');
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    height: 180px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: background-size 0.3s;

}

.facility-container2 {
    background: linear-gradient(to right, #080808,#330b28, #4e103c, transparent), url('images/Services-container/services2.jpg');
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    height: 180px;
    width: 500px;
    padding: 30px;
    text-align: center;
    transition: background-size 0.3s;

}
.facility-container1:hover {
    background-size: 120%;
    cursor: pointer;
}
.facility-container2:hover {
    background-size: 120%;
    cursor: pointer;
}

.around-container1 {
    display: flex;
    padding: 30px;
    justify-content: left;
    padding-left: 200;
}
.around-container2 {
    display: flex;
    padding: 30px;
    justify-content: right;
    padding-right: 200;
}

.facilities h1,
.facilities h3,
.facilities p {
    color: white;
    text-shadow: 0 0 10px rgb(117, 122, 117);
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

/*responsiveness for phone with 425px*/

@media only screen and (max-width: 425px) {

    body {
        font-size: 14px;
        width: 100%;
    }

    .left img {
        width: 100px;
        height: auto;
        margin-top: auto;
        margin-left: 15px;
    }
    header{
        width: 100%;
    }
    .nav-button{
        font-size: 10px;
    }
    .right ul {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
    }
    .right {
        justify-items: right;
        
    }


    /*first section*/
    .firstSection {
        flex-direction: column;
        align-items: center;
    }

    .firstSection>div {
        width: 100%;
        text-align: center;
    }

    .rightSection {
        margin-top: 20px;
    }

    .rightSection img {
        display: none;
        width: 70%;
    }

    /*about me*/

    .tech-icon {
        width: 20px;
    }

    .about-section {
        padding: 30px;
    }

    .about-section .container {
        height: auto;
        flex-direction: column;
    }

    .about-section .photo,
    .about-section .writings {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .about-section .photo {
        padding: 0;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .photo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .about-section h2 {
        font-size: 30px;
    }

    .about-section p {
        font-size: 16px;
    }

    /*second section*/

    .secondSection h1 {
        font-size: 2rem;
    }

    .secondSection h2 {
        font-size: 1rem;
    }

    .work-experience-container {
        flex-direction: column;
        align-items: center;
    }

    .workExperienceCards {
        width: 80%;
        margin: 20px 0;
    }

    .card-body {
        margin-top: 30px;
        width: 70%;
        height: auto;
        padding: 1.5rem;
    }
    .card-body:hover{
        width: 70%;
        height: auto;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-subtitle {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .normal-button {
        font-size: 0.8rem;
    }




    /*third section*/
    .thirdSection {
        margin: 20px auto;
        width: 100%;
        height: auto;
    }

    .thirdSection h1 {
        font-size: 2rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
    }

    /* Ensure consistent slide size */
    .carousel-item img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }


    .carousel-caption h5 {
        font-size: 20px;

    }

    .carousel-caption p {
        color: rgb(228, 225, 225);
        font-size: 15px;
    }



    /*fourth section*/
    .fourthSection {
        padding:30px auto;
    }

    .verticle-line {
        display: none;
    }

    .horizontal-line {
        display: none;
    }


    .project-cards {
        margin-left: auto;
        margin-right:auto;
        margin-top: 50px;
        justify-content: left;
        width: 75%;
        height: auto;

    }

    .project-cards:hover {
        width: 75%;
        height: auto;

    }

    .lower-card-section {
        flex-direction: column;
    }

    .left-card img {
        width: 100%;
        height: auto;
        padding-right: 40px;
    }

    .left-card img:hover {
        transform: translateX(15px) translateY(60px) scale(1.8);
        width: 100%;
        height: auto;
    }

    .right-card {
        margin-top: 20px;
    }

    .right-card-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .normal-button {
        margin-top: 10px;
        margin-left: 0;
    }

    .message-card {
        width: 50%;
        height: auto;
        margin-left:auto;
        margin-right:auto;
        margin-top: 30px;
    }


    /*contact me*/
    .contact-me-section{
        padding-top: 200px;
    }
    .contact-container {
        margin-right: 20px; /* Reduce right margin */
        margin-left: 20px; /* Reduce left margin */
        padding-top: 50px; /* Reduce top padding */
        height: auto; /* Allow the container height to adjust based on content */
    }

    .contact-me-section {
        padding-top: 150px; /* Adjust top padding */
        padding-bottom: 20px; /* Reduce bottom padding */
    }

    .contact-icons>div {
        flex-direction: column; /* Stack icons and text vertically */
        margin-bottom: 20px; /* Increase margin between icon-text pairs */
    }

    .contact-me-section h4 {
        font-size: 18px; /* Reduce font size for smaller screens */
    }


    /*services*/
    .facility-container1,
    .facility-container2 {
        width: 100%; /* Make the containers full width on smaller screens */
        height: auto; /* Allow the height to adjust based on content */
    }

    .facility-container1,
    .facility-container2,
    .around-container1,
    .around-container2 {
        padding: 15px; /* Reduce padding for smaller screens */
    }

    .around-container2 {
        justify-content: left; /* Adjust alignment for smaller screens */
    }

    .facilities h1,
    .facilities h3,
    .facilities p {
        font-size: 18px; /* Reduce font size for smaller screens */
    }
    
    /*footer*/
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .query-section {
        margin-top: 20px;
        /* Add space between contact info and query section */
    }

    .query-heading {
        margin-bottom: 10px;
        /* Adjust spacing */
    }

    .query-form {
        width: 100%;
        /* Make the form full-width */
    }

    .query-textarea {
        width: calc(100% - 20px);
        /* Adjust for padding */
        margin-right: 0;
    }

    .query-submit {
        width: 100%;
        /* Make the button full-width */
    }
}